*, body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    background-color: #0F131A;
}


.description {
    width: 447px;
    height: 75px;
    color: #FFF9E6B2;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 20px;
}

.social {
    display: flex;
    margin-top: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFCC3333;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFCC33;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.heading-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FFF9E6;
    margin-bottom: 10px;
}

.nav-links {
    display: flex;
}

.services {
    margin-right: 200px;
}

.company {
    margin-right: 200px;
}

.footer-nav-list {
    list-style: none;
    margin: 0; 
    padding: 0;  
}

.footer-nav-list > li {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFF9E6B2;
    margin-bottom: 8px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.copyright {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FFF9E699;
}

.unordered-list {
    list-style: none;
    margin: 0; 
    padding: 0;  
}

.unordered-list > li {
    display: inline;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FFF9E699;
}